.button-delete {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 10px;

  p {
    font-weight: 700;
    font-size: 14px;
  }
}
