.car-list-title {
  margin: 30px 0;

  .car-list-title-container {
    display: flex;
    justify-content: space-between;

    button {
      height: 40px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
